<div class="container">
  <%= render 'layouts/calculator', farmer: @farmer %>
  <div class="row justify-content-center">
    <div class="col">
      <h1><%= @pesticide.name %> 詳細</h1>
    </div>
    <div class="col-2">
      <table class="table">
        <thead>
          <tr>
            <th>RAC</th>
            <th>適用病害虫</th>
            <th>使用方法</th>
            <th>希釈倍率</th>
            <th>使用可能回数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @pesticide.code %></td>
            <td><%= @pesticide.subject %></td>
            <td><%= @pesticide.use_method %></td>
            <td><%= @pesticide.magnification %></td>
            <td><%= @pesticide.usable_number %></td>
          </tr>
        </tbody>
      </table>
      
      <h1>使用回数一覧</h1><h2>使用可能回数<%= @pesticide.usable_number %></h2>
      <%= link_to "シーズン時期設定", new_farmer_season_path, class:"btn btn-primary" %>
      <h3>
        <% if @season.any? %>
          <% latest_season = current_farmer.season.order(usage_date: :desc).first %>
            <%= latest_season.start_date %> ～ <%= latest_season.end_date %>
        <% else %>
          <p>シーズン時期未設定</p>
        <% end %>
      </h3>
      <!-- 繰り返し処理挟む -->
      <table class="table">
        <thead>
          <tr>
            <th>栽培区画</th>
            <th>使用回数</th>
          </tr>
        </thead>
        <tbody>
          <% @farmlands.each do |farmland| %>
            <tr>
              <td><%= farmland.land %></td>
              <td><%= farmland.records_within_season(@season).where(pesticide_id: @pesticide.id).count %></td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>栽培区画</th>
            <th>使用量</th>
          </tr>
        </thead>
        <tbody>
          <% @pesticide.records.each do |record| %>
          <tr>
            <td><%= record.day %></td>
            <%= link_to farmer_record_path(pesticide.record.id) do %>
              <td><%= record.land %></td>
            <% end %>
            <td><%= record.amount %></td>
          </tr>
          <% end %>
        </tbody>
        <%= link_to '栽培区画削除', farmer_pesticide_path(@pesticide.id), method: :delete, "data-confirm" => "本当に削除しますか？",  class: "btn btn-danger" %>
      </table>
  </div>
</div>