<div class="row pt-3">
  <%= render 'layouts/calculator', farmer: @farmer %>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h1 class="d-flex justify-content-center">使用記録新規作成情報確認</h1>
    
    <table class="mt-4 table text-center">
      <tr><th>日付</th><td><%= @record.day %></td></tr>
      <tr><th>使用農薬</th><td><%= @record.name %></td></tr>
      <tr><th>適用病害虫</th><td><%= @record.subject %></td></tr>
      <tr><th>散布区画</th><td><%= @record.land %></td></tr>
      <tr><th>RACコード</th><td><%= @record.code %></td></tr>
      <tr><th>使用量</th><td><%= @record.amount %></td></tr>
      <tr><th>原水量</th><td><%= @record.water %></td></tr>
      <tr><th>散布車</th><td><%= @record.user %></td></tr>
      <tr><th>確認者</th><td><%= @record.confimer %></td></tr>
    </table>

    <div class="pt-5 d-flex justify-content-center">
      <%= form_with model: @record, url: farmer_records_path(@farmer, @record), method: :post do |f| %>
        <%= f.hidden_field :day, value: @record.day %>
        <%= f.hidden_field :farmland_id, value: @record.farmland_id %>
        <%= f.hidden_field :land, value: @record.land %>
        <%= f.hidden_field :pesticide_id, value: @record.pesticide_id %>
        <%= f.hidden_field :name, value: @record.name %>
        <%= f.hidden_field :subject, value: @record.subject %>
        <%= f.hidden_field :code, value: @record.code %>
        <%= f.hidden_field :amount, value: @record.amount %>
        <%= f.hidden_field :water, value: @record.water %>
        <%= f.hidden_field :user, value: @record.user %>
        <%= f.hidden_field :confimer, value: @record.confimer %>
        
        <% unless @farmer.guest? %>
          <%= f.submit "新規作成", class: "btn btn-success" %>
        <% else %>
          <p>ゲストユーザーのため作成や編集が行えません。</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>