<div class="container">
  <%= render 'layouts/calculator', farmer: @farmer %>
  <div class="row justify-content-center">
    <div class="col">
      <h1>農薬使用記録一覧</h1>
      <h2 class="text-info"><%= link_to "使用記録新規作成", new_farmer_record_path, class: "btn btn-success" %></h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">日付</th>
            <th scope="col">使用農薬</th>
            <th scope="col">散布区画</th>
            <th scope="col">使用量</th>
          </tr>
        </thead>
        <tbody>
            <% @records.each do |record| %>
                <tr>
                  <td><%= record.day %></td>
                  <%= link_to farmer_record_path(record.id) do %>
                    <td><%= record.name %></td>
                    <td><%= record.land %></td>
                  <% end %>
                  <td><%= record.amount %></td>
                </tr>
            <% end %>
        </tbody>
        <tfooter></tfooter>
      </table>
    </div>
  </div>
</div>