<div class="container">
  <%= render 'layouts/calculator', farmer: @farmer %>
  <div class="row">
    <div class="col">
      <h2>栽培区画新規登録</h2>
      <%= form_with model: @farmland, url: farmer_farmlands_path(@farmer, @farmland) do |f| %>
        <table class="table">
          <tr>
            <th scope="col">区画名</th>
            <td><%= f.text_field :farmland %></td>
          </tr>
          <tr>
            <th scope="col">栽培面積</th>
            <td><%= f.text_field :area %></td>
          </tr>
          <tr>
            <th scope="col">概要</th>
            <td><%= f.text_area :overview %></td>
          </tr>
        </table>
        <%= f.submit '新規登録', "data-confirm" => "登録したデータは編集できません！作成してよろしいですか？？",  class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>