<div class="container">
  <%= render 'layouts/calculator', farmer: @farmer %>
  <div class="row">
    <div class="col-4">
      <h2><%= @farmland.land %> 詳細</h2>
    </div>
    <div class="col-2">
      <table class="table">
        <thead>
          <tr>
            <th>栽培面積</th>
            <th>概要</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @farmland.area %></td>
            <td><%= @farmland.overview %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h1><%= @farmland.land %>農薬使用記録一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>使用農薬</th>
            <th>使用量</th>
          </tr>
        </thead>
        <tbody>
          <% @farmland.records.each do |record| %>
          <tr>
            <td><%= record.day %></td>
            <td>
              <%= link_to farmer_record_path(record) do %>
                <%= record.name %>
              <% end %>
            </td>
            <td><%= record.amount %></td>
          </tr>
          <% end %>
        </tbody>
        <%= link_to '栽培区画削除', farmer_farmland_path(@farmland.id), method: :delete, "data-confirm" => "本当に削除しますか？",  class: "btn btn-danger" %>
    </table>
    </div>
  </div>
</div>