<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2 class="pt-5 custom-font">ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table custom-font">
        <tr><th class="col">メールアドレス</th>
          <td>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレスを入力' %>
            </div>
          </td>
        </tr>
        <tr><th class="col">パスワード</th>
          <td>
            <div class="field">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワードを入力' %>
            </div>
          </td>
        </tr>
      </table>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions d-flex justify-content-center custom-font">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
