<%= render 'layouts/calculator', farmer: @farmer %>
<div class="container pt-5">
  <h1>会員情報編集</h1>
  <div class="row pt-3">
    <%= form_with model: @farmer, url: farmer_current_farmer_path, method: :patch do |f| %>
    <table class="table">
      <tr><th scope="col">農場名</th><td><%= f.text_field :farm_name %></td></tr>
      <tr><th scope="col">名前</th>
        <td><%= f.text_field :last_name %>  <%= f.text_field :first_name %></td>
      </tr>
      <tr><th scope="col">名前カナ</th>
        <td><%= f.text_field :last_name_kana %>  <%= f.text_field :first_name_kana %></td>
      </tr>
      
      <tr><th scope="col">栽培作物</th><td><%= f.text_field :crop %></td></tr>
      <tr><th scope="col">メールアドレス</th><td><%= f.text_field :email %></td></tr>
    </table>
    <% unless @farmer.guest? %>
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
      <%= link_to "退会処理はこちらから", current_farmer_confirm_path, class: 'btn btn-danger'%>
    <% else %>
      <p>ゲストユーザー編集は行えません。</p>
    <% end %>
<% end %>
  </div>
</div>
